## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
# The code was removed by Watson Studio for sharing.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data = df_data_1 #pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 518645.4688
Epoch 2/50
23/23 [==============================] - 0s 991us/step - loss: 339479.8438
Epoch 3/50
23/23 [==============================] - 0s 892us/step - loss: 217740.7969
Epoch 4/50
23/23 [==============================] - 0s 867us/step - loss: 138482.9688
Epoch 5/50
23/23 [==============================] - 0s 884us/step - loss: 87728.0078
Epoch 6/50
23/23 [==============================] - 0s 915us/step - loss: 54025.2188
Epoch 7/50
23/23 [==============================] - 0s 935us/step - loss: 32151.8086
Epoch 8/50
23/23 [==============================] - 0s 919us/step - loss: 18412.0332
Epoch 9/50
23/23 [==============================] - 0s 937us/step - loss: 10253.9795
Epoch 10/50
23/23 [==============================] - 0s 918us/step - loss: 5744.6240
Epoch 11/50
23/23 [==============================] - 0s 937us/step - loss: 3398.6626
Epoch 12/50
23/23 [==============================] - 0s 964us/step - loss: 2290.9248
Epoch 13/50
23/23 [==============================] - 0s 939us/step - loss: 1794.2971
Epoch 14/50
23/23 [==============================] - 0s 948us/step - loss: 1582.6237
Epoch 15/50
23/23 [==============================] - 0s 996us/step - loss: 1495.6425
Epoch 16/50
23/23 [==============================] - 0s 934us/step - loss: 1452.0779
Epoch 17/50
23/23 [==============================] - 0s 922us/step - loss: 1430.4089
Epoch 18/50
23/23 [==============================] - 0s 909us/step - loss: 1410.9944
Epoch 19/50
23/23 [==============================] - 0s 929us/step - loss: 1394.8823
Epoch 20/50
23/23 [==============================] - 0s 913us/step - loss: 1378.5465
Epoch 21/50
23/23 [==============================] - 0s 987us/step - loss: 1362.4996
Epoch 22/50
23/23 [==============================] - 0s 886us/step - loss: 1346.8718
Epoch 23/50
23/23 [==============================] - 0s 871us/step - loss: 1329.7152
Epoch 24/50
23/23 [==============================] - 0s 930us/step - loss: 1313.3291
Epoch 25/50
23/23 [==============================] - 0s 910us/step - loss: 1296.6775
Epoch 26/50
23/23 [==============================] - 0s 975us/step - loss: 1280.0757
Epoch 27/50
23/23 [==============================] - 0s 902us/step - loss: 1263.5668
Epoch 28/50
23/23 [==============================] - 0s 928us/step - loss: 1247.0372
Epoch 29/50
23/23 [==============================] - 0s 900us/step - loss: 1230.7148
Epoch 30/50
23/23 [==============================] - 0s 893us/step - loss: 1214.4353
Epoch 31/50
23/23 [==============================] - 0s 866us/step - loss: 1197.5250
Epoch 32/50
23/23 [==============================] - 0s 915us/step - loss: 1181.1726
Epoch 33/50
23/23 [==============================] - 0s 993us/step - loss: 1166.2476
Epoch 34/50
23/23 [==============================] - 0s 942us/step - loss: 1148.3850
Epoch 35/50
23/23 [==============================] - 0s 981us/step - loss: 1132.5697
Epoch 36/50
23/23 [==============================] - 0s 942us/step - loss: 1116.4292
Epoch 37/50
23/23 [==============================] - 0s 943us/step - loss: 1100.1722
Epoch 38/50
23/23 [==============================] - 0s 953us/step - loss: 1085.4553
Epoch 39/50
23/23 [==============================] - 0s 976us/step - loss: 1068.5364
Epoch 40/50
23/23 [==============================] - 0s 949us/step - loss: 1053.6102
Epoch 41/50
23/23 [==============================] - 0s 972us/step - loss: 1038.0903
Epoch 42/50
23/23 [==============================] - 0s 955us/step - loss: 1024.5029
Epoch 43/50
23/23 [==============================] - 0s 936us/step - loss: 1007.7052
Epoch 44/50
23/23 [==============================] - 0s 913us/step - loss: 993.6506
Epoch 45/50
23/23 [==============================] - 0s 929us/step - loss: 978.4064
Epoch 46/50
23/23 [==============================] - 0s 909us/step - loss: 964.1005
Epoch 47/50
23/23 [==============================] - 0s 933us/step - loss: 950.2046
Epoch 48/50
23/23 [==============================] - 0s 931us/step - loss: 935.7556
Epoch 49/50
23/23 [==============================] - 0s 897us/step - loss: 922.0627
Epoch 50/50
23/23 [==============================] - 0s 932us/step - loss: 910.0947

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 841us/step - loss: 776.9376

776.9376220703125

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

776.937677219356 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 347.78900146484375
MSE 2: 205.0915069580078
MSE 3: 132.17559814453125
MSE 4: 117.36949920654297
MSE 5: 124.7752685546875
MSE 6: 99.40654754638672
MSE 7: 102.70121765136719
MSE 8: 91.4779052734375
MSE 9: 99.98066711425781
MSE 10: 93.57384490966797
MSE 11: 85.05526733398438
MSE 12: 64.85721588134766
MSE 13: 72.9611587524414
MSE 14: 78.08206176757812
MSE 15: 68.34840393066406
MSE 16: 52.41746139526367
MSE 17: 54.946353912353516
MSE 18: 53.212398529052734
MSE 19: 47.99421691894531
MSE 20: 50.188533782958984
MSE 21: 48.487937927246094
MSE 22: 47.995243072509766
MSE 23: 44.904449462890625
MSE 24: 47.42643356323242
MSE 25: 56.31770706176758
MSE 26: 50.44710922241211
MSE 27: 53.867958068847656
MSE 28: 45.807071685791016
MSE 29: 53.11024856567383
MSE 30: 50.71061706542969
MSE 31: 51.53396987915039
MSE 32: 46.62171936035156
MSE 33: 50.491600036621094
MSE 34: 49.4108772277832
MSE 35: 47.891143798828125
MSE 36: 53.95992660522461
MSE 37: 52.38959503173828
MSE 38: 52.912376403808594
MSE 39: 49.31517791748047
MSE 40: 44.37529373168945
MSE 41: 54.899478912353516
MSE 42: 49.56199264526367
MSE 43: 47.733333587646484
MSE 44: 54.64057540893555
MSE 45: 57.32139205932617
MSE 46: 54.684391021728516
MSE 47: 52.208980560302734
MSE 48: 53.067359924316406
MSE 49: 53.06825256347656
MSE 50: 60.10789489746094


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 71.55348442444038
Standard Deviation: 49.25931329667837